<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러 mapper.xml이 있는 경우에 id 겹치면 혼란이 되는것을 방지  -->
<mapper namespace="kr.board.mapper.BoardMapper">
  
  <!-- 태그의 d는 mapper 인터페이스의 메소드 이름으로 한다.  -->
  <select id="boardList" resultType="kr.board.entity.Board">
    select b_seq,b_title,b_content,mem_id,date_format(indate,"%Y/%m/%d") as b_date ,b_views
    from tb_board
  </select>
  
  <select id="commentList" parameterType="int" resultType="kr.board.entity.Board">
    select * from com_tb c join files f where c.memId = f.memId and idx = #{idx} order by com_idx
  </select>
  
  <insert id="boardInsert" parameterType="kr.board.entity.Board">
      insert into tb_board(b_title,b_content,mem_id)
      values (#{b_title},#{b_content},#{mem_id})
  </insert>
  
   <select id="boardContent" parameterType="int" resultType="kr.board.entity.Board">
     select * from tb_board where b_seq=#{b_seq}  
       
   </select>
   
   <update id="boardUpdate" parameterType="kr.board.entity.Board">
       update tb_board set b_title=#{b_title}, b_content=#{b_content}
       where b_seq=#{b_seq}
       
   </update>
   
   <delete id="boardDelete" parameterType="int">
       delete from tb_board where b_seq=#{b_seq}
       
   </delete>
   
   <update id="boardContentUpdate" parameterType="kr.board.entity.Board">
       update tb_board set b_content=#{b_content} where b_seq=#{b_seq}
       
   </update>
   
   <select id="memberLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
       
       select * from tb_member where mem_id=#{mem_id} and mem_pw=#{mem_pw}
       
   </select>



   <select id="boardView" parameterType="int" resultType="kr.board.entity.Board">
     select * from tb_board where b_seq=#{b_seq}  
       
   </select>
     
	<insert id="commentInsert" parameterType="kr.board.entity.Comment">
		insert into tb_comment(mem_id,b_seq, cmt_content,cmt_date) values (#{mem_id},#{b_seq},#{cmt_content},now())
	</insert>
	
	<delete id="comment_Delete" parameterType="int">
       delete from tb_comment where com_cmt = #{com_seq}
   </delete>
   
	<update id="commentUpdate" parameterType="kr.board.entity.Comment">
       update tb_comment set cmt_content=#{cmt_content}
       where cmt_seq=#{cmt_seq}
   </update>
   
  <!-- 여기 부터 수정  --> 
	
	<insert id="adminboardInsert"
		parameterType="kr.board.entity.dog">
		insert into adminboard(title,content,writer,memId)
		values (#{title},#{content},#{writer},#{memId})
	</insert>

	<select id="dogList" resultType="kr.board.entity.dog">
		select idx,title,content,writer,date_format(indate,"%Y/%m/%d") as indate ,count,memId
		from adminboard
	</select>
  
    <delete id="adminDelete" parameterType="int">
       delete from adminboard where idx=#{idx}
       
   </delete>
   
    <select id="adminboardContent" parameterType="int" resultType="kr.board.entity.dog">
     select * from adminboard where idx=#{idx}  
       
   </select>
    
     <update id="adminboardUpdate" parameterType="kr.board.entity.dog">
       update adminboard set title=#{title}, content=#{content}
       where idx=#{idx}
       
   </update>
       <update id="adminboardContentUpdate" parameterType="kr.board.entity.dog">
      update adminboard set title=#{title}, content=#{content} where idx=#{idx}
   </update>
   

       
  
</mapper>