<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러 mapper.xml이 있는 경우에 id 겹치면 혼란이 되는것을 방지  -->
<mapper namespace="kr.board.mapper.BoardMapper">
  
  <!-- 태그의 d는 mapper 인터페이스의 메소드 이름으로 한다.  -->
  <select id="boardList" resultType="kr.board.entity.Board">
    select idx,title,content,writer,date_format(indate,"%Y/%m/%d") as indate ,count,memId
    from board
  </select>
  
  <insert id="boardInsert" parameterType="kr.board.entity.Board">
      insert into board(title,content,writer,memId)
      values (#{title},#{content},#{writer},#{memId})
  </insert>
  
   <select id="boardContent" parameterType="int" resultType="kr.board.entity.Board">
     select * from board where idx=#{idx}  
       
   </select>
   
   <update id="boardUpdate" parameterType="kr.board.entity.Board">
       update board set title=#{title}, content=#{content}
       where idx=#{idx}
       
   </update>
   
   <delete id="boardDelete" parameterType="int">
       delete from board where idx=#{idx}
       
   </delete>
   
   <update id="boardContentUpdate" parameterType="kr.board.entity.Board">
       update board set content=#{content} where idx=#{idx}
       
   </update>
   
   <select id="memberLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
       
       select * from member where memId=#{memId} and memPw=#{memPw}
       
   </select>


	<insert id="adminboardInsert"
		parameterType="kr.board.entity.dog">
		insert into adminboard(title,content,writer,memId)
		values (#{title},#{content},#{writer},#{memId})
	</insert>

	<select id="dogList" resultType="kr.board.entity.dog">
		select idx,title,content,writer,date_format(indate,"%Y/%m/%d") as indate ,count,memId
		from adminboard
	</select>
  
    <delete id="adminDelete" parameterType="int">
       delete from adminboard where idx=#{idx}
       
   </delete>
   
    <select id="adminboardContent" parameterType="int" resultType="kr.board.entity.dog">
     select * from adminboard where idx=#{idx}  
       
   </select>
    
     <update id="adminboardUpdate" parameterType="kr.board.entity.dog">
       update adminboard set title=#{title}, content=#{content}
       where idx=#{idx}
       
   </update>
       <update id="adminboardContentUpdate" parameterType="kr.board.entity.dog">
      update adminboard set title=#{title}, content=#{content} where idx=#{idx}
   </update>
   

       
       
       
       
  
</mapper>