<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러 mapper.xml이 있는 경우에 id 겹치면 혼란이 되는것을 방지  -->
<mapper namespace="kr.board.mapper.PetMapper">
    
    
    
    <insert id="petJoin" parameterType="kr.board.entity.Petinfo">
  		 INSERT INTO tb_pet(pet_name, pet_age, pet_gender,mem_id,pet_kind)
    VALUES (#{pet_name},#{pet_age},#{pet_gender},#{mem_id},#{pet_kind})
  	</insert>
    
    <select id="get_seq" parameterType="kr.board.entity.Petinfo" resultType="kr.board.entity.Petinfo">
 	    select * 
 	    from tb_pet
 	    where pet_seq = ( select pet_seq
 	    				  from tb_pet
 	    				  where mem_id = #{mem_id} and (pet_name=#{pet_name} and pet_age = #{pet_age})
 	</select>
 	
 	<update id="update" parameterType="kr.board.entity.Petinfo">
 	    update tb_pet
 	    set pet_name=#{pet_name} , pet_age=#{pet_age}, pet_gender=#{pet_gender} ,pet_kind=#{pet_kind}
 	    where pet_seq=#{pet_seq}
 	    
 	</update>
 	<select id="pet_profile" parameterType="String" resultType="kr.board.entity.Pet_profile">
 	    select p.pet_name, p.pet_age, p.pet_gender,p.pet_kind, p.mem_id, p.pet_seq,
 	    		f.file_seq, f.file_name, f.file_real_name
 	    from tb_pet p , tb_file f
 	    where p.pet_seq = f.pet_seq and p.mem_id = #{mem_id}
 	</select>
 	
	<select id="selectPet" parameterType="int" resultType="kr.board.entity.Pet_profile">
	    select p.pet_name, p.pet_age, p.pet_gender,p.pet_kind, p.mem_id, p.pet_seq,
 	    		f.file_seq, f.file_name, f.file_real_name
 	    from tb_pet p , tb_file f
 	    where p.pet_seq = f.pet_seq and p.pet_seq = #{pet_seq}
	    
	</select>
 	
    
</mapper>    