<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러 mapper.xml이 있는 경우에 id 겹치면 혼란이 되는것을 방지  -->
<mapper namespace="kr.board.mapper.PetMapper">
    
    
    
    <insert id="petJoin" parameterType="kr.board.entity.Petinfo">
  		 INSERT INTO tb_pet (pet_name, pet_age, pet_gender , mem_id)
    VALUES (#{petName},#{petAge},#{petgender},#{memId})
  	</insert>
    
    <select id="checkId" parameterType="String" resultType="kr.board.entity.Petinfo">
 	    select *
 	    from tb_pet
 	    where mem_id = #{memId}
 	</select>
 	
 	<update id="update" parameterType="kr.board.entity.Petinfo">
 	    update tb_pet
 	    set pet_name=#{petName} , pet_age=#{petAge}, pet_gender=#{petgender}
 	    where mem_Id=#{memId}
 	    
 	</update>
 	<select id="pet_profile" parameterType="String" resultType="kr.board.entity.Pet_profile">
 	    select p.pet_name, p.pet_age, p.pet_gender, p.mem_id, p.pet_seq,
 	    		f.fno, f.filename, f.fileOriname, f.fileurl
 	    from tb_pet p , files f
 	    where p.mem_id = f.memId and p.mem_id = #{memId}
 	</select>
 	
    
</mapper>    